.cardsContainer {
    padding: 1rem 2rem;

    /* grid properties */
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, 19.5rem);
}

.sectionHeading {
    margin-left: 2rem;
    margin-bottom: 0;
}
