.collapsed {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    position: relative;

    /* flex-properties */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pin {
    visibility: hidden;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0.2rem;
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;

    /* flex-properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsed:hover .pin {
    visibility: visible;
}

.pin:hover {
    background-color: lightgrey;
}

.title {
    margin: 0;
    border: none;
    font-size: 1.3rem;
    width: 100%;
    word-wrap: break-word;
    font-weight: 600;
}

.title:focus {
    outline: none;
}

.text {
    margin: 0;
    border: none;
    font-size: 1.2rem;
    width: 100%;
    word-wrap: break-word;
}

.text:focus {
    outline: none;
}

.btnContainer {
    visibility: hidden;
    position: absolute;
    bottom: 0.7rem;

    /* flex-properties */
    display: flex;
    gap: 1rem;
}

.collapsed:hover .btnContainer {
    visibility: visible;
}

.button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0.2rem;
    color: brown;

    /* flex-properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: lightgrey;
}

.colors {
    color: #000;
}

@media screen and (max-width: 430px) {
    .pin,
    .btnContainer {
        visibility: visible;
    }
}
